@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Rajdhani:wght@500;600;700&family=Share+Tech+Mono&display=swap');

@import "tailwindcss";

@media print {
  * {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}
