@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@import "tailwindcss";

@media print {
  * {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}
